@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;
                      
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}



.center
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}



.header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}


.form-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.form-container input[type="text"],
.form-container input[type="email"]{
  padding-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-container button {
  background-color: #b788ee;
  color: #fff;
  border: none;
  padding: 10px 10px;

  cursor: pointer;
}

.form-container label {
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}